<!DOCTYPE=HTML>
<head>
    <title>DreamTracer</title>
        <meta charset="utf-8" />
        {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'tracer/semantic/semantic.css' %}" type='text/css'/>
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="{% static "tracer/semantic/semantic.js" %}"></script>
</head>
<body>
    <div class="ui container">
        {% block title %}
        {% endblock %}
    </div>
    <div class="ui container">
        {% block content %}
        {% endblock %}
    </div>
</body>
